.custom-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Horizontal scrollbar only */
.custom-scrollbar {
  scrollbar-width: thin;              /* Firefox */
  scrollbar-color: #31353b transparent;
}

/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  height: 6px;                        /* SMALL scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4b5563;          /* gray-600 */
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af;          /* gray-400 */
}
